# config.mk.template - copy me to config.mk before customizing
# config.mk - set variables used when compiling documentation here.

# Command for launching a browser. The command should take as its first argument
# the file to display in a new tab
#BROWSER='firefox-developer-edition'

# Regular expression for selecting active browser window. This is used to
# automatically reload the current tab when the documentation source files
# change.
#BROWSER_WINDOW_REGEXP='Firefox Developer Edition'